/* external-css */
/* Navbar */
*{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 0 !important;
    /* background: #000; */
    background-color: #fff;
    /* box-shadow: 0px 5px 5px #ccc; */
}
/* .navbar-toggler{
    background-color: #20A626 !important;
} */
.navbar li{
    color: #fff;
}
.navbar li:hover{
    border-bottom: 2px solid #20A626;
}
#logo{
    height: 70px;
    width: 70px;
    /* mix-blend-mode: multiply; */
    object-fit: cover;
    
}
.btn{
    background-color: #20A626 !important;
    font-weight: bold;
    color:#fff !important;
}
.btn{
    margin-left: -50px;
    border-radius: 20px !important;
}
.from1{
    padding: 8px;
    border-radius: 20px;
    border: 2px solid #ccc;
    outline: none;
}
.nav-link{
    font-weight: 600 !important;
}
/* ************************************ */
/* Home */
/* .home-main{
    margin-left: 70px;
} */
.first-image{
    width: 350px;
    height:350px;
    border-radius: 20px;
}
/* ********************** */
/* branch */
.branch
{
    width: 100px;
     min-height:  15vh; 
    background-color: #20A626;
    overflow: hidden;
}
.b-1,.b-2,.b-3{
    color:#fff;
}
.h4-branch{
    color:#fff;
}
/* about */
.about-image{
    width:450px;
    height:450px;
}
.about-2{
    width: 400px !important;
    height: 400px !important;
    border-radius: 20px;
}
.about-3{
    width: 100%;
    min-height: 55vh;
    background-image: url(../images/copy-space-italian-food-ingredients.jpg);
    background-position: center;
    background-size: cover;
}
/* product */

.card{
    border: none !important;
    box-shadow: 5px 5px 20px #ccc;
    border-radius: 20px;
}
/* .product{
    width: 265px !important;
    height: 175px !important;
} */
/* .card{
    width: 250px !important;
    height: 500px !important;
} */
 .h5{
    color:#20A626 !important;
 }
 .h3{
    font-weight: bold;
 }
 .product-4{
    width: 100%;
    min-height: 50vh;
    background-image: url(../images/healthy-platter-salad-containing-mushrooms-chopped-carrots-cherries-salad-leaves.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden !important;
 }
 .product-4-clr{
    color: #fff;
    font-size: 60px;
    font-weight: bolder;
   filter: drop-shadow(5px 5px 10px #000);
 }
 /* contact */
 .input-group{
    width: 40% !important;
    height: 45px !important;
 }
 .btn1{
    padding: 0px 30px 0px 30px !important;
    background-color: #20A626;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
 }
.icon{
    font-size: 25px;
}
.con{
    color: #fff;
}